# Objects.
.scons-cache/
*.os
*.windows.template_debug.x86_64.obj

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

# Editors
.vscode/
.godot
demo/bin
project/bin
project/addons/godot-gameplay-systems/bin